*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --dosis: 'Dosis', sans-serif; 
    --roboto: 'Roboto', sans-serif;
    --white-rgb: 255, 255, 255;
    --white: #ffffff;
    --black-rgb: 0, 0, 0;
    --black: #000;

    --carret-color-rgb: 255, 151, 81;
    --carret-color:  #FF9751;
    --bg-base: #f7f7f7;

    --border-radius: .25rem;
    --border-color: #e0e0e0;
    --transtion: all 0.3s ease-in;
    --icon-height: 40px;
    --day-box-size: 100px;
    --calendar-box-gap: 2px;
}
.text-uppercase {text-transform: uppercase;}
@mixin flexCeter($jc: center, $ai: center, $ac: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    align-content: $ac;
}
html {
    font-size: 14px;
}
body {
    font-family: var(--dosis);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    min-height: 100vh;
}
main {
    width: 100%;
    min-height: 100vh;
    padding: 5vh;
    @include flexCeter();

    .container {
        position: relative;
        width: 100%;
        max-width: calc(var(--day-box-size) * 7);
        min-width: calc(var(--day-box-size) * 7);
        text-align: center;
        > h2 {
            font-weight: 700;
            font-size: clamp(1.5rem, 5vw, 2.5rem); ;
        }
        .calender__container {
            position: relative;
            width: 100%;
            background-color: var(--white);
            box-shadow: 0 10px 20px rgba(var(--black-rgb), 0.05);
            padding: 2rem;
            border-radius: calc(var(--border-radius) * 2);

            &__header {
                position: relative;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                border-bottom: 1px solid  var(--border-color);
                .selectable__buttons {
                    list-style: none;
                    display: flex;
                    padding: .25rem;
                    background-color: rgba(var(--carret-color-rgb), .1);
                    li {
                        position: relative;
                        border-radius: var(--border-radius);
                        padding: .5rem 1rem;
                        transition: var(--transtion);
                        cursor: pointer;
                        user-select: none;
                        &.active, &:hover {
                            background-color: var(--carret-color);
                            color: var(--white);
                        }
                        &.active {
                            font-weight: 700;
                            box-shadow: 0 5px 10px rgba(var(--black-rgb), 0.07)
                        }
                    }
                }
            }
            .calendar__slider {
                position: relative;
                display: flex;
                gap: .25rem;
                button {
                    width: var(--icon-height);
                    height: var(--icon-height);
                    border: 0;
                    transition: var(--transtion);
                    border-radius: calc(var(--border-radius) * 1);
                    cursor: pointer;
                    &:hover {
                        background-color: var(--carret-color);
                        color: var(--white);
                    }
                }
            }

            .main__calender {
                position: relative;
                width: 100%;
                // border: 1px solid var(--border-color);
                border-bottom: 0;
                border-radius: calc(var(--border-radius) * 1.5);
                // overflow: hidden;
                box-shadow: 0 0 0 1px var(--border-color);
                background-color: var(--bg-base);

                .calender__header {
                    position: relative;
                    .weekdays {
                        width: 100%;
                        display: flex;
                        font-family: var(--roboto);
                        font-size: 0.9rem;
                        li {
                            position: relative;
                            width: 100%;
                            padding: 1rem;
                            @include flexCeter();
                            background-color: rgba(var(--carret-color-rgb), .1);
                            border-bottom: 1px solid var(--border-color);
                        }
                    }
                }
                .calendar {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: var(--calendar-box-gap);
                    .day__box {
                        position: relative;
                        width: calc(var(--day-box-size) - calc(var(--calendar-box-gap) / 0.142));
                        height: calc(var(--day-box-size) - calc(var(--calendar-box-gap) / 0.142));
                        font-family: var(--roboto);
                        background-color: var(--white);
                        // border-bottom: 1px solid var(--border-color);
                        // box-shadow: 0 0 0 1px var(--border-color);
                        transition: var(--transtion);
                        &:not(.padding):hover {
                            background-color: rgba(var(--carret-color-rgb), 1);
                            box-shadow: inset 0 0 0 2px var(--carret-color);
                            box-shadow: none;
                            z-index: 1;
                            box-shadow: 0 0 20px rgba(var(--black-rgb), .15);
                            transform: scale(1.2);
                            transform-origin: center;
                            z-index: 5;
                        }
                        &.padding {
                            cursor: default;
                            background-color: var(--bg-base);
                            box-shadow: none;
                        }
                        &:hover {
                        }
                        .date {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: var(--icon-height);
                            height: var(--icon-height);
                            @include flexCeter();
                        }
                    }
                }
            }
        }
    }
}